<h1>Hello Cathy from index</h1>

<a href="/demo/hello">Hello page 1</a><br/>
<%= link_to('Hello page 2', {:action => 'hello'})%> <br/>
<%= link_to('Hello with parameteres', {:action => 'hello', :page => 5, :id =>  20})%> <br/>
<%# <%= route will be demo/index. Can see this in config/routes %>